<a href="https://colab.research.google.com/github/NataIss/CFUserRating/blob/main/Codeforces_17_NumOfUsersByColorWithBase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import json
import requests
import pandas as pd
import numpy as np
import time

In [3]:
try:  
    data = pd.read_json("https://codeforces.com/api/contest.list?gym=false")
    con = pd.DataFrame.from_records(data['result'])
    con
except (BaseException) as e:    
    print(e)
con

        id  ... relativeTimeSeconds
0     1636  ...            -1972248
1     1641  ...            -1610448
2     1642  ...            -1610448
3     1635  ...            -1367448
4     1638  ...             -849048
...    ...  ...                 ...
1557     5  ...           374899452
1558     4  ...           375605051
1559     3  ...           376037052
1560     2  ...           376883052
1561     1  ...           377419451

[1562 rows x 8 columns]

In [4]:
con['d']=pd.to_datetime(con['startTimeSeconds'],unit='s')

In [9]:
dfAll=pd.DataFrame()

In [10]:
for j in con['id']: 
    i=0
    while i<3:
        try:
            time.sleep(0.2)
            link='https://codeforces.com/api/contest.ratingChanges?contestId=' + str(j)
            data = pd.read_json(link)
            if data['status'][0]=='OK':
                df = pd.DataFrame.from_records(data['result'])
                dfAll=pd.concat([dfAll,df],ignore_index=True)
                i=i+5
        except (BaseException) as e:    
                time.sleep(1)
                i=i+1
                #ratedListAll[ratedListAll['handle']==j][0]
                if i==3:
                    print(str(j) + ' - not rated')
dfAll

1636 - not rated
1641 - not rated
1642 - not rated
1635 - not rated
1638 - not rated
1637 - not rated
1634 - not rated
1639 - not rated
1626 - not rated
1597 - not rated
1596 - not rated
1595 - not rated
1599 - not rated
1600 - not rated
1576 - not rated
1571 - not rated
1575 - not rated
1570 - not rated
1578 - not rated
1572 - not rated
1573 - not rated
1533 - not rated
1532 - not rated
1524 - not rated
1531 - not rated
1522 - not rated
1510 - not rated
1505 - not rated
1497 - not rated
1488 - not rated
1489 - not rated
1475 - not rated
1468 - not rated
1410 - not rated
1460 - not rated
1414 - not rated
1438 - not rated
1431 - not rated
1432 - not rated
1412 - not rated
1423 - not rated
1424 - not rated
1425 - not rated
1418 - not rated
1403 - not rated
1402 - not rated
1387 - not rated
1386 - not rated
1380 - not rated
1372 - not rated
1378 - not rated
1377 - not rated
1376 - not rated
1357 - not rated
1356 - not rated
1346 - not rated
1347 - not rated
1351 - not rated
1344 - not rated
1345 - not rated
1340 - not rated
1331 - not rated
1297 - not rated
1298 - not rated
1308 - not rated
1309 - not rated
1302 - not rated
1258 - not rated
1273 - not rated
1274 - not rated
1275 - not rated
1267 - not rated
1226 - not rated
1250 - not rated
1252 - not rated
1224 - not rated
1223 - not rated
1240 - not rated
1241 - not rated
1222 - not rated
1235 - not rated
1218 - not rated
1219 - not rated
1211 - not rated
1212 - not rated
1193 - not rated
1192 - not rated
1184 - not rated
1186 - not rated
1177 - not rated
1170 - not rated
1171 - not rated
1164 - not rated
1156 - not rated
1160 - not rated
1145 - not rated
1120 - not rated
1121 - not rated
1116 - not rated
1115 - not rated
1106 - not rated
1094 - not rated
1090 - not rated
1089 - not rated
1032 - not rated
1078 - not rated
1079 - not rated
1050 - not rated
1070 - not rated
1049 - not rated
1057 - not rated
1045 - not rated
1046 - not rated
1048 - not rated
1052 - not rated
1017 - not rated
1014 - not rated
1002 - not rated
1001 - not rated
927 - not rated
958 - not rated
952 - not rated
926 - not rated
953 - not rated
929 - not rated
928 - not rated
921 - not rated
916 - not rated
910 - not rated
905 - not rated
886 - not rated
889 - not rated
890 - not rated
888 - not rated
885 - not rated
887 - not rated
884 - not rated
883 - not rated
873 - not rated
874 - not rated
863 - not rated
847 - not rated
858 - not rated
860 - not rated
861 - not rated
857 - not rated
856 - not rated
846 - not rated
852 - not rated
845 - not rated
838 - not rated
837 - not rated
825 - not rated
826 - not rated
818 - not rated
819 - not rated
820 - not rated
821 - not rated
817 - not rated
813 - not rated
802 - not rated
808 - not rated
803 - not rated
775 - not rated
797 - not rated
774 - not rated
795 - not rated
784 - not rated
792 - not rated
770 - not rated
769 - not rated
761 - not rated
762 - not rated
753 - not rated
751 - not rated
728 - not rated
730 - not rated
726 - not rated
718 - not rated
720 - not rated
717 - not rated
712 - not rated
710 - not rated
703 - not rated
702 - not rated
691 - not rated
690 - not rated
693 - not rated
683 - not rated
678 - not rated
684 - not rated
642 - not rated
665 - not rated
663 - not rated
664 - not rated
640 - not rated
661 - not rated
660 - not rated
656 - not rated
652 - not rated
647 - not rated
646 - not rated
638 - not rated
644 - not rated
637 - not rated
632 - not rated
636 - not rated
628 - not rated
630 - not rated
622 - not rated
620 - not rated
616 - not rated
612 - not rated
609 - not rated
600 - not rated
598 - not rated
597 - not rated
594 - not rated
595 - not rated
575 - not rated
537 - not rated
530 - not rated
531 - not rated
523 - not rated
522 - not rated
491 - not rated
484 - not rated
485 - not rated
470 - not rated
440 - not rated
411 - not rated
409 - not rated
398 - not rated
399 - not rated
396 - not rated
397 - not rated
394 - not rated
392 - not rated
393 - not rated
391 - not rated
390 - not rated
386 - not rated
374 - not rated
345 - not rated
328 - not rated
323 - not rated
311 - not rated
312 - not rated
306 - not rated
301 - not rated
302 - not rated
291 - not rated
290 - not rated
267 - not rated
212 - not rated
209 - not rated
207 - not rated
206 - not rated
188 - not rated
190 - not rated
185 - not rated
182 - not rated
172 - not rated
171 - not rated
170 - not rated
162 - not rated
159 - not rated
158 - not rated
153 - not rated
147 - not rated
134 - not rated
130 - not rated
125 - not rated
119 - not rated
100 - not rated
98 - not rated
99 - not rated
76 - not rated
72 - not rated
64 - not rated
52 - not rated
50 - not rated
45 - not rated
44 - not rated
39 - not rated
21 - not rated
20 - not rated
15 - not rated

         contestId  ... newRating
0             1633  ...      2072
1             1633  ...      2145
2             1633  ...      2199
3             1633  ...       923
4             1633  ...      2164
...            ...  ...       ...
4919530          1  ...      1441
4919531          1  ...      1441
4919532          1  ...      1441
4919533          1  ...      1441
4919534          1  ...      1441

[4919535 rows x 7 columns]

In [11]:
dfAll['d']=pd.to_datetime(dfAll['ratingUpdateTimeSeconds'],unit='s')
dfAll['date']= [time.date() for time in dfAll['d']]
dfAll['num']=dfAll.sort_values('d').groupby('handle')['handle'].cumcount().add(1)

In [12]:
dfAll['title']='10. newbie'
dfAll['color']='7. gray'
dfAll['title'].where(~(dfAll.newRating >= 3000), "1. legendary grandmaster", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 2600)&(dfAll.newRating < 3000)), "2. international grandmaster", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 2400)&(dfAll.newRating < 2600)), "3. grandmaster", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 2300)&(dfAll.newRating < 2400)), "4. international master", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 2100)&(dfAll.newRating < 2300)), "5. master", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 1900)&(dfAll.newRating < 2100)), "6. candidate master", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 1600)&(dfAll.newRating < 1900)), "7. expert", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 1400)&(dfAll.newRating < 1600)), "8. specialist", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 1200)&(dfAll.newRating < 1400)), "9. pupil", inplace=True)
dfAll['color'].where(~(dfAll.newRating >= 3000), "1. red", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 2600)&(dfAll.newRating < 3000)), "1. red", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 2400)&(dfAll.newRating < 2600)), "1. red", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 2300)&(dfAll.newRating < 2400)), "2. orange", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 2100)&(dfAll.newRating < 2300)), "2. orange", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 1900)&(dfAll.newRating < 2100)), "3. violet", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 1600)&(dfAll.newRating < 1900)), "4. blue", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 1400)&(dfAll.newRating < 1600)), "5. cyan", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 1200)&(dfAll.newRating < 1400)), "6. green", inplace=True)
dfAll

         contestId  ...      color
0             1633  ...  3. violet
1             1633  ...  2. orange
2             1633  ...  2. orange
3             1633  ...    7. gray
4             1633  ...  2. orange
...            ...  ...        ...
4919530          1  ...    5. cyan
4919531          1  ...    5. cyan
4919532          1  ...    5. cyan
4919533          1  ...    5. cyan
4919534          1  ...    5. cyan

[4919535 rows x 12 columns]

In [13]:
dfAll.to_csv('ratingChangesTill2020-02-04WithBase.csv')

In [14]:
ratedCon=pd.unique(dfAll['contestId'])

In [15]:
con=con[ (con['d']>'2018-07-03')]
con.drop_duplicates(keep='first',subset=['d'],inplace=True)
con.shape

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

(489, 9)

In [16]:
resAll=pd.DataFrame()
colAll=pd.DataFrame()
for i, row in con.iterrows():
  if row['id'] in ratedCon:
    x=row['d'].date()
    y=(x-pd.DateOffset(days=180)).date()
    print(x,y)
    for baseNum in [1,5,10,20,30]:
      dfX=dfAll[(dfAll['date']<=x) & (dfAll['date']>y)& (dfAll['num']>=baseNum)]
      dfX.drop_duplicates(keep='first',subset=['handle'],inplace=True)

      resX=pd.DataFrame(dfX.groupby('title')['handle'].count())
      resX.rename(columns={'handle':'count'}, inplace=True)
      resX['dateX']=x
      resX['baseNum']=baseNum
      resX.reset_index(inplace=True)
      colX=pd.DataFrame(dfX.groupby('color')['handle'].count())
      colX.rename(columns={'handle':'count'}, inplace=True)
      colX['dateX']=x
      colX['baseNum']=baseNum
      colX.reset_index(inplace=True)
      
      resAll=pd.concat([resAll,resX],ignore_index=True)
      colAll=pd.concat([colAll,colX],ignore_index=True)

2022-01-31 2021-08-04

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

2022-01-30 2021-08-03
2022-01-27 2021-07-31
2022-01-22 2021-07-26
2022-01-15 2021-07-19
2022-01-12 2021-07-16
2022-01-10 2021-07-14
2022-01-03 2021-07-07
2021-12-29 2021-07-02
2021-12-28 2021-07-01
2021-12-27 2021-06-30
2021-12-24 2021-06-27
2021-12-20 2021-06-23
2021-12-18 2021-06-21
2021-12-16 2021-06-19
2021-12-14 2021-06-17
2021-12-12 2021-06-15
2021-12-11 2021-06-14
2021-12-01 2021-06-04
2021-11-28 2021-06-01
2021-11-26 2021-05-30
2021-11-25 2021-05-29
2021-11-23 2021-05-27
2021-11-22 2021-05-26
2021-11-14 2021-05-18
2021-11-12 2021-05-16
2021-11-02 2021-05-06
2021-10-30 2021-05-03
2021-10-29 2021-05-02
2021-10-25 2021-04-28
2021-10-24 2021-04-27
2021-10-17 2021-04-20
2021-10-13 2021-04-16
2021-10-10 2021-04-13
2021-10-08 2021-04-11
2021-10-03 2021-04-06
2021-09-30 2021-04-03
2021-09-28 2021-04-01
2021-09-20 2021-03-24
2021-09-12 2021-03-16
2021-09-08 2021-03-12
2021-09-05 2021-03-09
2021-08-29 2021-03-02
2021-08-26 2021-02-27
2021-08-24 2021-02-25
2021-08-22 2021-02-23
2021-08-18 2021-02-19
2021-08-15 2021-02-16
2021-08-09 2021-02-10
2021-08-01 2021-02-02
2021-07-30 2021-01-31
2021-07-29 2021-01-30
2021-07-25 2021-01-26
2021-07-23 2021-01-24
2021-07-22 2021-01-23
2021-07-17 2021-01-18
2021-07-14 2021-01-15
2021-07-11 2021-01-12
2021-07-10 2021-01-11
2021-07-07 2021-01-08
2021-07-03 2021-01-04
2021-06-25 2020-12-27
2021-06-20 2020-12-22
2021-06-18 2020-12-20
2021-06-13 2020-12-15
2021-06-10 2020-12-12
2021-06-06 2020-12-08
2021-06-04 2020-12-06
2021-05-30 2020-12-01
2021-05-28 2020-11-29
2021-05-24 2020-11-25
2021-05-20 2020-11-21
2021-05-16 2020-11-17
2021-05-07 2020-11-08
2021-05-05 2020-11-06
2021-05-02 2020-11-03
2021-04-29 2020-10-31
2021-04-23 2020-10-25
2021-04-21 2020-10-23
2021-04-19 2020-10-21
2021-04-16 2020-10-18
2021-04-12 2020-10-14
2021-04-11 2020-10-13
2021-04-10 2020-10-12
2021-04-03 2020-10-05
2021-03-29 2020-09-30
2021-03-25 2020-09-26
2021-03-21 2020-09-22
2021-03-21 2020-09-22
2021-03-18 2020-09-19
2021-03-13 2020-09-14
2021-03-10 2020-09-11
2021-03-06 2020-09-07
2021-03-02 2020-09-03
2021-02-28 2020-09-01
2021-02-23 2020-08-27
2021-02-18 2020-08-22
2021-02-16 2020-08-20
2021-02-15 2020-08-19
2021-02-12 2020-08-16
2021-02-07 2020-08-11
2021-02-05 2020-08-09
2021-01-29 2020-08-02
2021-01-28 2020-08-01
2021-01-19 2020-07-23
2021-01-14 2020-07-18
2021-01-08 2020-07-12
2021-01-05 2020-07-09
2021-01-04 2020-07-08
2020-12-30 2020-07-03
2020-12-28 2020-07-01
2020-12-20 2020-06-23
2020-12-19 2020-06-22
2020-12-17 2020-06-20
2020-12-15 2020-06-18
2020-12-11 2020-06-14
2020-12-06 2020-06-09
2020-12-04 2020-06-07
2020-11-30 2020-06-03
2020-11-29 2020-06-02
2020-11-24 2020-05-28
2020-11-21 2020-05-25
2020-11-19 2020-05-23
2020-11-17 2020-05-21
2020-11-15 2020-05-19
2020-11-02 2020-05-06
2020-11-01 2020-05-05
2020-11-01 2020-05-05
2020-10-27 2020-04-30
2020-10-25 2020-04-28
2020-10-24 2020-04-27
2020-10-20 2020-04-23
2020-10-18 2020-04-21
2020-10-17 2020-04-20
2020-10-11 2020-04-14
2020-10-10 2020-04-13
2020-10-04 2020-04-07
2020-09-30 2020-04-03
2020-09-28 2020-04-01
2020-09-27 2020-03-31
2020-09-24 2020-03-28
2020-09-19 2020-03-23
2020-09-12 2020-03-16
2020-09-08 2020-03-12
2020-09-06 2020-03-10
2020-09-04 2020-03-08
2020-08-30 2020-03-03
2020-08-25 2020-02-27
2020-08-21 2020-02-23
2020-08-16 2020-02-18
2020-08-14 2020-02-16
2020-08-12 2020-02-14
2020-08-09 2020-02-11
2020-08-07 2020-02-09
2020-08-05 2020-02-07
2020-07-30 2020-02-01
2020-07-29 2020-01-31
2020-07-24 2020-01-26
2020-07-21 2020-01-23
2020-07-19 2020-01-21
2020-07-17 2020-01-19
2020-07-04 2020-01-06
2020-07-01 2020-01-03
2020-06-28 2019-12-31
2020-06-25 2019-12-28
2020-06-23 2019-12-26
2020-06-20 2019-12-23
2020-06-18 2019-12-21
2020-06-16 2019-12-19
2020-06-13 2019-12-16
2020-06-11 2019-12-14
2020-06-07 2019-12-10
2020-06-04 2019-12-07
2020-05-31 2019-12-03
2020-05-28 2019-11-30
2020-05-26 2019-11-28
2020-05-24 2019-11-26
2020-05-17 2019-11-19
2020-05-16 2019-11-18
2020-05-14 2019-11-16
2020-05-12 2019-11-14
2020-05-09 2019-11-11
2020-05-01 2019-11-03
2020-04-26 2019-10-29
2020-04-21 2019-10-24
2020-04-15 2019-10-18
2020-04-13 2019-10-16
2020-04-12 2019-10-15
2020-04-10 2019-10-13
2020-04-08 2019-10-11
2020-04-03 2019-10-06
2020-03-31 2019-10-03
2020-03-26 2019-09-28
2020-03-23 2019-09-25
2020-03-19 2019-09-21
2020-03-14 2019-09-16
2020-03-12 2019-09-14
2020-03-09 2019-09-11
2020-03-07 2019-09-09
2020-03-04 2019-09-06
2020-03-03 2019-09-05
2020-03-01 2019-09-03
2020-03-01 2019-09-03
2020-02-24 2019-08-28
2020-02-23 2019-08-27
2020-02-23 2019-08-27
2020-02-17 2019-08-21
2020-02-15 2019-08-19
2020-02-13 2019-08-17
2020-02-12 2019-08-16
2020-02-09 2019-08-13
2020-02-04 2019-08-08
2020-02-02 2019-08-06
2020-01-29 2019-08-02
2020-01-22 2019-07-26
2020-01-19 2019-07-23
2020-01-14 2019-07-18
2020-01-10 2019-07-14
2020-01-05 2019-07-09
2020-01-04 2019-07-08
2019-12-29 2019-07-02
2019-12-28 2019-07-01
2019-12-27 2019-06-30
2019-12-24 2019-06-27
2019-12-21 2019-06-24
2019-12-19 2019-06-22
2019-12-17 2019-06-20
2019-12-15 2019-06-18
2019-12-15 2019-06-18
2019-12-14 2019-06-17
2019-12-12 2019-06-15
2019-12-05 2019-06-08
2019-11-29 2019-06-02
2019-11-27 2019-05-31
2019-11-24 2019-05-28
2019-11-19 2019-05-23
2019-11-16 2019-05-20
2019-11-13 2019-05-17
2019-11-06 2019-05-10
2019-11-04 2019-05-08
2019-11-01 2019-05-05
2019-10-26 2019-04-29
2019-10-24 2019-04-27
2019-10-22 2019-04-25
2019-10-20 2019-04-23
2019-10-17 2019-04-20
2019-10-16 2019-04-19
2019-10-13 2019-04-16
2019-10-08 2019-04-11
2019-10-01 2019-04-04
2019-09-29 2019-04-02
2019-09-23 2019-03-27
2019-09-22 2019-03-26
2019-09-21 2019-03-25
2019-09-19 2019-03-23
2019-09-18 2019-03-22
2019-09-15 2019-03-19
2019-09-14 2019-03-18
2019-09-05 2019-03-09
2019-09-04 2019-03-08
2019-08-30 2019-03-03
2019-08-25 2019-02-26
2019-08-22 2019-02-23
2019-08-20 2019-02-21
2019-08-18 2019-02-19
2019-08-13 2019-02-14
2019-08-11 2019-02-12
2019-08-07 2019-02-08
2019-08-04 2019-02-05
2019-07-30 2019-01-31
2019-07-24 2019-01-25
2019-07-22 2019-01-23
2019-07-20 2019-01-21
2019-07-17 2019-01-18
2019-07-14 2019-01-15
2019-07-12 2019-01-13
2019-07-05 2019-01-06
2019-06-30 2019-01-01
2019-06-26 2018-12-28
2019-06-21 2018-12-23
2019-06-19 2018-12-21
2019-06-16 2018-12-18
2019-06-11 2018-12-13
2019-06-09 2018-12-11
2019-06-07 2018-12-09
2019-06-05 2018-12-07
2019-06-03 2018-12-05
2019-06-01 2018-12-03
2019-05-26 2018-11-27
2019-05-17 2018-11-18
2019-05-15 2018-11-16
2019-05-14 2018-11-15
2019-05-12 2018-11-13
2019-05-09 2018-11-10
2019-05-04 2018-11-05
2019-04-29 2018-10-31
2019-04-26 2018-10-28
2019-04-24 2018-10-26
2019-04-22 2018-10-24
2019-04-20 2018-10-22
2019-04-18 2018-10-20
2019-04-16 2018-10-18
2019-04-13 2018-10-15
2019-04-06 2018-10-08
2019-03-31 2018-10-02
2019-03-30 2018-10-01
2019-03-22 2018-09-23
2019-03-21 2018-09-22
2019-03-19 2018-09-20
2019-03-11 2018-09-12
2019-03-08 2018-09-09
2019-03-07 2018-09-08
2019-03-05 2018-09-06
2019-03-03 2018-09-04
2019-02-24 2018-08-28
2019-02-23 2018-08-27
2019-02-19 2018-08-23
2019-02-18 2018-08-22
2019-02-16 2018-08-20
2019-02-10 2018-08-14
2019-02-07 2018-08-11
2019-02-03 2018-08-07
2019-01-26 2018-07-30
2019-01-23 2018-07-27
2019-01-22 2018-07-26
2019-01-20 2018-07-24
2019-01-13 2018-07-17
2019-01-11 2018-07-15
2019-01-09 2018-07-13
2019-01-05 2018-07-09
2019-01-04 2018-07-08
2018-12-30 2018-07-03
2018-12-28 2018-07-01
2018-12-27 2018-06-30
2018-12-23 2018-06-26
2018-12-18 2018-06-21
2018-12-16 2018-06-19
2018-12-15 2018-06-18
2018-12-10 2018-06-13
2018-12-04 2018-06-07
2018-11-28 2018-06-01
2018-11-25 2018-05-29
2018-11-24 2018-05-28
2018-11-22 2018-05-26
2018-11-16 2018-05-20
2018-11-14 2018-05-18
2018-11-12 2018-05-16
2018-11-10 2018-05-14
2018-11-04 2018-05-08
2018-10-28 2018-05-01
2018-10-25 2018-04-28
2018-10-24 2018-04-27
2018-10-21 2018-04-24
2018-10-18 2018-04-21
2018-10-14 2018-04-17
2018-10-12 2018-04-15
2018-10-11 2018-04-14
2018-10-07 2018-04-10
2018-10-05 2018-04-08
2018-10-04 2018-04-07
2018-09-23 2018-03-27
2018-09-21 2018-03-25
2018-09-20 2018-03-24
2018-09-17 2018-03-21
2018-09-16 2018-03-20
2018-09-07 2018-03-11
2018-09-06 2018-03-10
2018-09-05 2018-03-09
2018-09-02 2018-03-06
2018-08-27 2018-02-28
2018-08-24 2018-02-25
2018-08-19 2018-02-20
2018-08-18 2018-02-19
2018-08-17 2018-02-18
2018-08-12 2018-02-13
2018-08-11 2018-02-12
2018-08-03 2018-02-04
2018-07-31 2018-02-01
2018-07-30 2018-01-31
2018-07-26 2018-01-27
2018-07-16 2018-01-17
2018-07-14 2018-01-15
2018-07-13 2018-01-14
2018-07-09 2018-01-10
2018-07-05 2018-01-06
2018-07-03 2018-01-04

In [17]:
resAll

                              title  count       dateX  baseNum
0          1. legendary grandmaster     60  2022-01-31        1
1                        10. newbie  74050  2022-01-31        1
2      2. international grandmaster    226  2022-01-31        1
3                    3. grandmaster    395  2022-01-31        1
4           4. international master    286  2022-01-31        1
...                             ...    ...         ...      ...
19295                     5. master    430  2018-07-03       30
19296           6. candidate master    938  2018-07-03       30
19297                     7. expert   1857  2018-07-03       30
19298                 8. specialist   1285  2018-07-03       30
19299                      9. pupil    853  2018-07-03       30

[19300 rows x 4 columns]

In [18]:
colAll

           color  count       dateX  baseNum
0         1. red    681  2022-01-31        1
1      2. orange   1885  2022-01-31        1
2      3. violet   2134  2022-01-31        1
3        4. blue   7072  2022-01-31        1
4        5. cyan   8273  2022-01-31        1
...          ...    ...         ...      ...
13505  3. violet    938  2018-07-03       30
13506    4. blue   1857  2018-07-03       30
13507    5. cyan   1285  2018-07-03       30
13508   6. green    853  2018-07-03       30
13509    7. gray    518  2018-07-03       30

[13510 rows x 4 columns]

In [19]:
resAll.to_excel('resAll.xlsx')
colAll.to_excel('colAll.xlsx')