<a href="https://colab.research.google.com/github/NataIss/ForTableau/blob/main/Codeforces_16_NumOfUsersByColor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import json
import requests
import pandas as pd
import numpy as np
import time

In [2]:
try:  
    data = pd.read_json("https://codeforces.com/api/contest.list?gym=false")
    con = pd.DataFrame.from_records(data['result'])
    con
except (BaseException) as e:    
    print(e)
con

        id  ... relativeTimeSeconds
0     1636  ...            -2324405
1     1635  ...            -1719605
2     1634  ...             -510006
3     1633  ...                8393
4     1632  ...               94794
...    ...  ...                 ...
1552     5  ...           374547295
1553     4  ...           375252895
1554     3  ...           375684895
1555     2  ...           376530895
1556     1  ...           377067295

[1557 rows x 8 columns]

In [3]:
con['d']=pd.to_datetime(con['startTimeSeconds'],unit='s')
con.set_index('d',inplace=True)
con['Y']=con.index.year
con['M']=con.index.month
con['H']=con.index.hour
con['W']=con.index.dayofweek

In [4]:
con=con[con['Y']<=2021]
con=con[con['startTimeSeconds']>1525364996]
con

                       id  ...  W
d                          ...
2021-12-29 15:35:00  1616  ...  2
2021-12-28 13:35:00  1623  ...  1
2021-12-27 14:35:00  1622  ...  0
2021-12-24 14:35:00  1615  ...  4
2021-12-20 14:35:00  1619  ...  0
...                   ...  ... ..
2018-05-15 14:45:00   984  ...  1
2018-05-14 14:35:00   979  ...  0
2018-05-13 09:05:00   978  ...  6
2018-05-08 15:05:00   980  ...  1
2018-05-06 14:05:00   977  ...  6

[612 rows x 12 columns]

In [5]:
 link='https://codeforces.com/api/contest.ratingChanges?contestId=1601'
 data = pd.read_json(link)
 if data['status'][0]=='OK':
       dfAll = pd.DataFrame.from_records(data['result'])

In [6]:
for j in con['id']: 
    i=0
    while i<3:
        try:
            time.sleep(0.2)
            link='https://codeforces.com/api/contest.ratingChanges?contestId=' + str(j)
            data = pd.read_json(link)
            if data['status'][0]=='OK':
                df = pd.DataFrame.from_records(data['result'])
                dfAll=pd.concat([dfAll,df],ignore_index=True)
                i=i+5
                print(j) + "****"
        except (BaseException) as e:    
                time.sleep(1)
                i=i+1
                #ratedListAll[ratedListAll['handle']==j][0]
                if i==3:
                    print(j)
                    print(e)
dfAll

1616
1623
1622
1615
1619
1620
1617
1618
1585
1591
1608
1597
HTTP Error 400:
1613
1609
1614
1611
1610
1612
1584
1588
1589
1605
1596
HTTP Error 400:
1607
1603
1604
1606
1601
1602
1582
1583
1586
1595
HTTP Error 400:
1593
1598
1599
HTTP Error 400:
1600
HTTP Error 400:
1576
HTTP Error 400:
1594
1571
HTTP Error 400:
1592
1575
HTTP Error 400:
1570
HTTP Error 400:
1578
HTTP Error 400:
1580
1581
1579
1574
1572
0
1573
0
1566
1569
1567
1556
1562
1558
1561
1563
1560
1559
1557
1548
1549
1555
1554
1552
1551
1553
1544
1530
1550
1545
1546
1547
1543
1542
1533
HTTP Error 400:
1540
1541
1532
HTTP Error 400:
1539
1537
1534
1538
1536
1535
1523
1526
1524
HTTP Error 400:
1528
1529
1531
HTTP Error 400:
1527
1522
HTTP Error 400:
1525
1521
1520
1515
1519
1517
1516
1514
1508
1509
1511
1513
1512
1510
HTTP Error 400:
1503
1504
1505
HTTP Error 400:
1498
1506
1483
1484
1482
1499
1497
HTTP Error 400:
1500
1501
1495
1496
1488
HTTP Error 400:
1493
1494
1489
HTTP Error 400:
1491
1492
1486
1490
1487
1485
1479
1480
1481
1476
1477
1478
1475
0
1474
1473
1467
1470
1471
1472
1466
1469
1468
HTTP Error 400:
1411
1464
1465
1458
1459
1410
HTTP Error 400:
1463
1462
1460
HTTP Error 400:
1461
1450
1453
1455
1415
1456
1457
1414
HTTP Error 400:
1454
1451
1452
1439
1440
1446
1447
1438
0
1431
HTTP Error 400:
1432
HTTP Error 400:
1442
1443
1441
1444
1445
1437
1413
1434
1435
1436
1412
HTTP Error 400:
1433
1421
1428
1430
1427
1423
HTTP Error 400:
1424
HTTP Error 400:
1422
1408
1426
1416
1417
1425
HTTP Error 400:
1420
1419
1418
0
1406
1407
1404
1405
1409
1396
1397
1403
HTTP Error 400:
1402
HTTP Error 400:
1400
1401
1392
1398
1394
1395
1391
1393
1399
1388
1389
1383
1384
1387
HTTP Error 400:
1386
HTTP Error 400:
1381
1382
1379
1385
1380
0
1372
0
1375
1371
1374
1378
HTTP Error 400:
1377
HTTP Error 400:
1373
1376
HTTP Error 400:
1369
1370
1357
HTTP Error 400:
1368
1367
1364
1356
HTTP Error 400:
1366
1365
1361
1362
1363
1346
HTTP Error 400:
1359
1358
1360
1347
HTTP Error 400:
1354
1355
1353
1349
1350
1352
1351
HTTP Error 400:
1344
0
1345
0
1348
1342
1340
0
1341
1343
1336
1337
1335
1338
1339
1334
1333
1329
1330
1331
HTTP Error 400:
1332
1328
1327
1326
1325
1324
1312
1322
1323
1316
1305
1320
1321
1319
1297
HTTP Error 400:
1311
1310
1314
1315
1313
1298
HTTP Error 400:
1307
1304
1308
HTTP Error 400:
1309
HTTP Error 400:
1301
1303
1299
1300
1296
1302
HTTP Error 400:
1290
1291
1295
1294
1292
1293
1288
1285
1286
1287
1284
1270
1283
1279
1282
1268
1269
1278
1266
1271
1280
1281
1259
1276
1277
1272
1258
HTTP Error 400:
1273
HTTP Error 400:
1274
HTTP Error 400:
1275
HTTP Error 400:
1264
1265
1267
HTTP Error 400:
1263
1260
1227
1261
1262
1226
HTTP Error 400:
1254
1255
1253
1257
1242
1243
1256
1245
1250
HTTP Error 400:
1252
HTTP Error 400:
1225
1246
1247
1251
1224
HTTP Error 400:
1249
1239
1248
1236
1237
1244
1238
1223
0
1240
0
1241
0
1222
HTTP Error 400:
1234
1235
HTTP Error 400:
1228
1229
1230
1210
1231
1216
1221
1220
1218
HTTP Error 400:
1219
HTTP Error 400:
1215
1209
1211
HTTP Error 400:
1217
1214
1212
HTTP Error 400:
1213
1208
1207
1204
1205
1206
1203
1200
1202
1201
1198
1199
1193
HTTP Error 400:
1192
HTTP Error 400:
1196
1197
1178
1195
1194
1190
1191
1184
0
1188
1189
1187
1186
0
1183
1179
1180
1185
1181
1182
1176
1172
1173
1175
1174
1148
1177
0
1170
HTTP Error 400:
1168
1169
1171
HTTP Error 400:
1166
1167
1165
1158
1159
1163
1164
HTTP Error 400:
1147
1161
1162
1156
0
1160
HTTP Error 400:
1149
1150
1157
1152
1155
1146
1151
1154
1153
1119
1145
HTTP Error 400:
1144
1142
1143
1140
1139
1141
1136
1137
1138
1133
1132
1120
0
1121
0
1112
1116
HTTP Error 400:
1129
1130
1131
1115
HTTP Error 400:
1118
1117
1109
1113
1114
1110
1111
1106
0
1107
1108
1103
1104
1105
1100
1101
1102
1098
1099
1097
1091
1096
1095
1085
1086
1087
1094
HTTP Error 400:
1092
1081
1093
1083
1084
1090
HTTP Error 400:
1088
1089
HTTP Error 400:
1082
1056
1080
1061
1032
0
1078
0
1079
0
1050
HTTP Error 400:
1077
1062
1076
1055
1044
1074
1075
1043
1073
1067
1068
1031
1071
1072
1070
HTTP Error 400:
1049
HTTP Error 400:
1054
1063
1064
1066
1057
HTTP Error 400:
1065
1033
1059
1060
1030
1053
1058
1045
HTTP Error 400:
1046
HTTP Error 400:
1034
1047
1048
HTTP Error 400:
1052
HTTP Error 400:
1051
1042
1041
1036
1038
1039
1040
1037
1028
1029
1025
1027
1023
951
1019
1020
1017
0
1016
1015
1012
1013
1010
1011
1014
HTTP Error 400:
1006
1009
1007
1008
1005
1002
HTTP Error 400:
1004
1003
997
998
1001
HTTP Error 400:
1000
995
996
991
999
992
993
994
989
990
988
986
987
981
985
982
983
984
979
978
980
977

         contestId                     contestName  ... oldRating  newRating
0             1601  Codeforces Round #751 (Div. 1)  ...      3014       3228
1             1601  Codeforces Round #751 (Div. 1)  ...      3547       3576
2             1601  Codeforces Round #751 (Div. 1)  ...      3361       3407
3             1601  Codeforces Round #751 (Div. 1)  ...      3102       3193
4             1601  Codeforces Round #751 (Div. 1)  ...      3627       3562
...            ...                             ...  ...       ...        ...
3489154        977  Codeforces Round #479 (Div. 3)  ...      1185       1072
3489155        977  Codeforces Round #479 (Div. 3)  ...      1500       1367
3489156        977  Codeforces Round #479 (Div. 3)  ...      1172       1060
3489157        977  Codeforces Round #479 (Div. 3)  ...      1399       1274
3489158        977  Codeforces Round #479 (Div. 3)  ...      1061        954

[3489159 rows x 7 columns]

In [7]:
dfAll.drop_duplicates(keep='last',subset=['handle','contestId'],inplace=True)
dfAll

         contestId                     contestName  ... oldRating  newRating
669           1616     Good Bye 2021: 2022 is NEAR  ...      3756       3836
670           1616     Good Bye 2021: 2022 is NEAR  ...      3325       3456
671           1616     Good Bye 2021: 2022 is NEAR  ...      3308       3416
672           1616     Good Bye 2021: 2022 is NEAR  ...      3405       3469
673           1616     Good Bye 2021: 2022 is NEAR  ...      3532       3548
...            ...                             ...  ...       ...        ...
3489154        977  Codeforces Round #479 (Div. 3)  ...      1185       1072
3489155        977  Codeforces Round #479 (Div. 3)  ...      1500       1367
3489156        977  Codeforces Round #479 (Div. 3)  ...      1172       1060
3489157        977  Codeforces Round #479 (Div. 3)  ...      1399       1274
3489158        977  Codeforces Round #479 (Div. 3)  ...      1061        954

[3488490 rows x 7 columns]

In [8]:
dfAll['d']=pd.to_datetime(dfAll['ratingUpdateTimeSeconds'],unit='s')

In [22]:
dfAll['title']='newbie'
dfAll['color']='gray'
dfAll['title'].where(~(dfAll.newRating >= 3000), "legendary grandmaster", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 2600)&(dfAll.newRating < 3000)), "international grandmaster", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 2400)&(dfAll.newRating < 2600)), "grandmaster", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 2300)&(dfAll.newRating < 2400)), "international master", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 2100)&(dfAll.newRating < 2300)), "master", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 1900)&(dfAll.newRating < 2100)), "candidate master", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 1600)&(dfAll.newRating < 1900)), "expert", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 1400)&(dfAll.newRating < 1600)), "specialist", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 1200)&(dfAll.newRating < 1400)), "pupil", inplace=True)
dfAll['color'].where(~(dfAll.newRating >= 3000), "red", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 2600)&(dfAll.newRating < 3000)), "red", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 2400)&(dfAll.newRating < 2600)), "red", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 2300)&(dfAll.newRating < 2400)), "orange", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 2100)&(dfAll.newRating < 2300)), "orange", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 1900)&(dfAll.newRating < 2100)), "violet", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 1600)&(dfAll.newRating < 1900)), "blue", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 1400)&(dfAll.newRating < 1600)), "cyan", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 1200)&(dfAll.newRating < 1400)), "green", inplace=True)

In [23]:
dfAll

         contestId  ...  color
669           1616  ...    red
670           1616  ...    red
671           1616  ...    red
672           1616  ...    red
673           1616  ...    red
...            ...  ...    ...
3489154        977  ...   gray
3489155        977  ...  green
3489156        977  ...   gray
3489157        977  ...  green
3489158        977  ...   gray

[3488490 rows x 10 columns]

In [25]:
df18=dfAll[(dfAll['d']<='2018-12-31') & (dfAll['d']>'2018-07-03')]
df18.drop_duplicates(keep='first',subset=['handle'],inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

title
candidate master              1904
expert                        6572
grandmaster                    213
international grandmaster      112
international master           156
legendary grandmaster           23
master                        1112
newbie                        8454
pupil                        19722
specialist                   13725
Name: handle, dtype: int64

In [31]:
res18=pd.DataFrame(df18.groupby('title')['handle'].count())
res18.rename(columns={'handle':'2018'}, inplace=True)
res18

                            2018
title
candidate master            1904
expert                      6572
grandmaster                  213
international grandmaster    112
international master         156
legendary grandmaster         23
master                      1112
newbie                      8454
pupil                      19722
specialist                 13725

In [32]:
col18=pd.DataFrame(df18.groupby('color')['handle'].count())
col18.rename(columns={'handle':'2018'}, inplace=True)
col18

         2018
color
blue     6572
cyan    13725
gray     8454
green   19722
orange   1268
red       348
violet   1904

In [ ]:
df18=dfAll[(dfAll['d']<='2018-12-31') & (dfAll['d']>'2018-07-03')]
df18.drop_duplicates(keep='first',subset=['handle'],inplace=True)
res18=pd.DataFrame(df18.groupby('title')['handle'].count())
res18.rename(columns={'handle':'2018'}, inplace=True)
col18=pd.DataFrame(df18.groupby('color')['handle'].count())
col18.rename(columns={'handle':'2018'}, inplace=True)

In [33]:
df19=dfAll[(dfAll['d']<='2019-12-31') & (dfAll['d']>'2019-07-03')]
df19.drop_duplicates(keep='first',subset=['handle'],inplace=True)
res19=pd.DataFrame(df19.groupby('title')['handle'].count())
res19.rename(columns={'handle':'2019'}, inplace=True)
col19=pd.DataFrame(df19.groupby('color')['handle'].count())
col19.rename(columns={'handle':'2019'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [34]:
df20=dfAll[(dfAll['d']<='2020-12-31') & (dfAll['d']>'2020-07-03')]
df20.drop_duplicates(keep='first',subset=['handle'],inplace=True)
res20=pd.DataFrame(df20.groupby('title')['handle'].count())
res20.rename(columns={'handle':'2020'}, inplace=True)
col20=pd.DataFrame(df20.groupby('color')['handle'].count())
col20.rename(columns={'handle':'2020'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [40]:
df21=dfAll[(dfAll['d']<='2021-12-31') & (dfAll['d']>'2021-07-03')]
df21.drop_duplicates(keep='first',subset=['handle'],inplace=True)
res21=pd.DataFrame(df21.groupby('title')['handle'].count())
res21.rename(columns={'handle':'2021'}, inplace=True)
col21=pd.DataFrame(df21.groupby('color')['handle'].count())
col21.rename(columns={'handle':'2021'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [41]:
res=pd.merge(res18,res19,how="inner",left_index=True,right_index=True)
res=pd.merge(res,res20,how="inner",left_index=True,right_index=True)
res=pd.merge(res,res21,how="inner",left_index=True,right_index=True)
res

                            2018   2019   2020   2021
title
candidate master            1904   2518   2841   2237
expert                      6572   8557   8359   7368
grandmaster                  213    258    380    428
international grandmaster    112    158    241    231
international master         156    216    338    321
legendary grandmaster         23     28     39     61
master                      1112   1368   2026   1688
newbie                      8454  12465  57390  73828
pupil                      19722  26789  15075  13362
specialist                 13725  16203   9156   8554

In [42]:
col=pd.merge(col18,col19,how="inner",left_index=True,right_index=True)
col=pd.merge(col,col20,how="inner",left_index=True,right_index=True)
col=pd.merge(col,col21,how="inner",left_index=True,right_index=True)
col

         2018   2019   2020   2021
color
blue     6572   8557   8359   7368
cyan    13725  16203   9156   8554
gray     8454  12465  57390  73828
green   19722  26789  15075  13362
orange   1268   1584   2364   2009
red       348    444    660    720
violet   1904   2518   2841   2237