<a href="https://colab.research.google.com/github/NataIss/ForTableau/blob/main/Codeforces_16_NumOfUsersByColor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import json
import requests
import pandas as pd
import numpy as np
import time

In [2]:
try:  
    data = pd.read_json("https://codeforces.com/api/contest.list?gym=false")
    con = pd.DataFrame.from_records(data['result'])
    con
except (BaseException) as e:    
    print(e)
con

        id  ... relativeTimeSeconds
0     1636  ...            -2313063
1     1635  ...            -1708263
2     1634  ...             -498664
3     1633  ...               19737
4     1632  ...              106137
...    ...  ...                 ...
1552     5  ...           374558637
1553     4  ...           375264237
1554     3  ...           375696237
1555     2  ...           376542237
1556     1  ...           377078637

[1557 rows x 8 columns]

In [3]:
con['d']=pd.to_datetime(con['startTimeSeconds'],unit='s')

In [5]:
con=con[(con['d']<='2021-12-31') & (con['d']>'2018-07-03')]
con.shape

(587, 9)

In [6]:
 link='https://codeforces.com/api/contest.ratingChanges?contestId=1601'
 data = pd.read_json(link)
 if data['status'][0]=='OK':
       dfAll = pd.DataFrame.from_records(data['result'])

In [7]:
for j in con['id']: 
    i=0
    while i<3:
        try:
            time.sleep(0.2)
            link='https://codeforces.com/api/contest.ratingChanges?contestId=' + str(j)
            data = pd.read_json(link)
            if data['status'][0]=='OK':
                df = pd.DataFrame.from_records(data['result'])
                dfAll=pd.concat([dfAll,df],ignore_index=True)
                i=i+5
        except (BaseException) as e:    
                time.sleep(1)
                i=i+1
                #ratedListAll[ratedListAll['handle']==j][0]
                if i==3:
                    print(j)
                    print(e)
dfAll

1597
HTTP Error 400:
1596
HTTP Error 400:
1595
HTTP Error 400:
1599
HTTP Error 400:
1600
HTTP Error 400:
1576
HTTP Error 400:
1571
HTTP Error 400:
1575
HTTP Error 400:
1570
HTTP Error 400:
1578
HTTP Error 400:
1572
0
1573
0
1533
HTTP Error 400:
1532
HTTP Error 400:
1524
HTTP Error 400:
1531
HTTP Error 400:
1522
HTTP Error 400:
1510
HTTP Error 400:
1505
HTTP Error 400:
1497
HTTP Error 400:
1488
HTTP Error 400:
1489
HTTP Error 400:
1475
0
1468
HTTP Error 400:
1410
HTTP Error 400:
1460
HTTP Error 400:
1414
HTTP Error 400:
1438
0
1431
HTTP Error 400:
1432
HTTP Error 400:
1412
HTTP Error 400:
1423
HTTP Error 400:
1424
HTTP Error 400:
1425
HTTP Error 400:
1418
0
1403
HTTP Error 400:
1402
HTTP Error 400:
1387
HTTP Error 400:
1386
HTTP Error 400:
1380
0
1372
0
1378
HTTP Error 400:
1377
HTTP Error 400:
1376
HTTP Error 400:
1357
HTTP Error 400:
1356
HTTP Error 400:
1346
HTTP Error 400:
1347
HTTP Error 400:
1351
HTTP Error 400:
1344
0
1345
0
1340
0
1331
HTTP Error 400:
1297
HTTP Error 400:
1298
HTTP Error 400:
1308
HTTP Error 400:
1309
HTTP Error 400:
1302
HTTP Error 400:
1258
HTTP Error 400:
1273
HTTP Error 400:
1274
HTTP Error 400:
1275
HTTP Error 400:
1267
HTTP Error 400:
1226
HTTP Error 400:
1250
HTTP Error 400:
1252
HTTP Error 400:
1224
HTTP Error 400:
1223
0
1240
0
1241
0
1222
HTTP Error 400:
1235
HTTP Error 400:
1218
HTTP Error 400:
1219
HTTP Error 400:
1211
HTTP Error 400:
1212
HTTP Error 400:
1193
HTTP Error 400:
1192
HTTP Error 400:
1184
0
1186
0
1177
0
1170
HTTP Error 400:
1171
HTTP Error 400:
1164
HTTP Error 400:
1156
0
1160
HTTP Error 400:
1145
HTTP Error 400:
1120
0
1121
0
1116
HTTP Error 400:
1115
HTTP Error 400:
1106
0
1094
HTTP Error 400:
1090
HTTP Error 400:
1089
HTTP Error 400:
1032
0
1078
0
1079
0
1050
HTTP Error 400:
1070
HTTP Error 400:
1049
HTTP Error 400:
1057
HTTP Error 400:
1045
HTTP Error 400:
1046
HTTP Error 400:
1048
HTTP Error 400:
1052
HTTP Error 400:
1017
0
1014
HTTP Error 400:
1002
HTTP Error 400:

         contestId                     contestName  ... oldRating  newRating
0             1601  Codeforces Round #751 (Div. 1)  ...      3014       3228
1             1601  Codeforces Round #751 (Div. 1)  ...      3547       3576
2             1601  Codeforces Round #751 (Div. 1)  ...      3361       3407
3             1601  Codeforces Round #751 (Div. 1)  ...      3102       3193
4             1601  Codeforces Round #751 (Div. 1)  ...      3627       3562
...            ...                             ...  ...       ...        ...
3407173       1003  Codeforces Round #494 (Div. 3)  ...       907        808
3407174       1003  Codeforces Round #494 (Div. 3)  ...      1500       1366
3407175       1003  Codeforces Round #494 (Div. 3)  ...       875        777
3407176       1003  Codeforces Round #494 (Div. 3)  ...      1500       1366
3407177       1003  Codeforces Round #494 (Div. 3)  ...      1500       1366

[3407178 rows x 7 columns]

In [8]:
dfAll.drop_duplicates(keep='last',subset=['handle','contestId'],inplace=True)
dfAll['d']=pd.to_datetime(dfAll['ratingUpdateTimeSeconds'],unit='s')
dfAll

         contestId  ...                   d
669           1616  ... 2021-12-29 17:35:00
670           1616  ... 2021-12-29 17:35:00
671           1616  ... 2021-12-29 17:35:00
672           1616  ... 2021-12-29 17:35:00
673           1616  ... 2021-12-29 17:35:00
...            ...  ...                 ...
3407173       1003  ... 2018-07-03 16:35:00
3407174       1003  ... 2018-07-03 16:35:00
3407175       1003  ... 2018-07-03 16:35:00
3407176       1003  ... 2018-07-03 16:35:00
3407177       1003  ... 2018-07-03 16:35:00

[3406509 rows x 8 columns]

In [9]:
dfAll['title']='newbie'
dfAll['color']='gray'
dfAll['title'].where(~(dfAll.newRating >= 3000), "legendary grandmaster", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 2600)&(dfAll.newRating < 3000)), "international grandmaster", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 2400)&(dfAll.newRating < 2600)), "grandmaster", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 2300)&(dfAll.newRating < 2400)), "international master", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 2100)&(dfAll.newRating < 2300)), "master", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 1900)&(dfAll.newRating < 2100)), "candidate master", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 1600)&(dfAll.newRating < 1900)), "expert", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 1400)&(dfAll.newRating < 1600)), "specialist", inplace=True)
dfAll['title'].where(~((dfAll.newRating >= 1200)&(dfAll.newRating < 1400)), "pupil", inplace=True)
dfAll['color'].where(~(dfAll.newRating >= 3000), "red", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 2600)&(dfAll.newRating < 3000)), "red", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 2400)&(dfAll.newRating < 2600)), "red", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 2300)&(dfAll.newRating < 2400)), "orange", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 2100)&(dfAll.newRating < 2300)), "orange", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 1900)&(dfAll.newRating < 2100)), "violet", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 1600)&(dfAll.newRating < 1900)), "blue", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 1400)&(dfAll.newRating < 1600)), "cyan", inplace=True)
dfAll['color'].where(~((dfAll.newRating >= 1200)&(dfAll.newRating < 1400)), "green", inplace=True)

In [10]:
dfAll

         contestId  ...  color
669           1616  ...    red
670           1616  ...    red
671           1616  ...    red
672           1616  ...    red
673           1616  ...    red
...            ...  ...    ...
3407173       1003  ...   gray
3407174       1003  ...  green
3407175       1003  ...   gray
3407176       1003  ...  green
3407177       1003  ...  green

[3406509 rows x 10 columns]

In [11]:
df18=dfAll[(dfAll['d']<='2018-12-31') & (dfAll['d']>'2018-07-03')]
df18.drop_duplicates(keep='first',subset=['handle'],inplace=True)
res18=pd.DataFrame(df18.groupby('title')['handle'].count())
res18.rename(columns={'handle':'2018'}, inplace=True)
res18

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                            2018
title
candidate master            1904
expert                      6572
grandmaster                  213
international grandmaster    112
international master         156
legendary grandmaster         23
master                      1112
newbie                      8454
pupil                      19722
specialist                 13725

In [12]:
col18=pd.DataFrame(df18.groupby('color')['handle'].count())
col18.rename(columns={'handle':'2018'}, inplace=True)
col18

         2018
color
blue     6572
cyan    13725
gray     8454
green   19722
orange   1268
red       348
violet   1904

In [13]:
df19=dfAll[(dfAll['d']<='2019-12-31') & (dfAll['d']>'2019-07-03')]
df19.drop_duplicates(keep='first',subset=['handle'],inplace=True)
res19=pd.DataFrame(df19.groupby('title')['handle'].count())
res19.rename(columns={'handle':'2019'}, inplace=True)
col19=pd.DataFrame(df19.groupby('color')['handle'].count())
col19.rename(columns={'handle':'2019'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
df20=dfAll[(dfAll['d']<='2020-12-31') & (dfAll['d']>'2020-07-03')]
df20.drop_duplicates(keep='first',subset=['handle'],inplace=True)
res20=pd.DataFrame(df20.groupby('title')['handle'].count())
res20.rename(columns={'handle':'2020'}, inplace=True)
col20=pd.DataFrame(df20.groupby('color')['handle'].count())
col20.rename(columns={'handle':'2020'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
df21=dfAll[(dfAll['d']<='2021-12-31') & (dfAll['d']>'2021-07-03')]
df21.drop_duplicates(keep='first',subset=['handle'],inplace=True)
res21=pd.DataFrame(df21.groupby('title')['handle'].count())
res21.rename(columns={'handle':'2021'}, inplace=True)
col21=pd.DataFrame(df21.groupby('color')['handle'].count())
col21.rename(columns={'handle':'2021'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
res=pd.merge(res18,res19,how="inner",left_index=True,right_index=True)
res=pd.merge(res,res20,how="inner",left_index=True,right_index=True)
res=pd.merge(res,res21,how="inner",left_index=True,right_index=True)
res

                            2018   2019   2020   2021
title
candidate master            1904   2518   2841   2237
expert                      6572   8557   8359   7368
grandmaster                  213    258    380    428
international grandmaster    112    158    241    231
international master         156    216    338    321
legendary grandmaster         23     28     39     61
master                      1112   1368   2026   1688
newbie                      8454  12465  57390  73828
pupil                      19722  26789  15075  13362
specialist                 13725  16203   9156   8554

In [17]:
col=pd.merge(col18,col19,how="inner",left_index=True,right_index=True)
col=pd.merge(col,col20,how="inner",left_index=True,right_index=True)
col=pd.merge(col,col21,how="inner",left_index=True,right_index=True)
col

         2018   2019   2020   2021
color
blue     6572   8557   8359   7368
cyan    13725  16203   9156   8554
gray     8454  12465  57390  73828
green   19722  26789  15075  13362
orange   1268   1584   2364   2009
red       348    444    660    720
violet   1904   2518   2841   2237

In [18]:
res.to_csv('res.csv')
col.to_csv('col.csv')